.github

.gitignore

.dockerignore

Dockerfile
Dockerfile.backup

.output

docs

#never use local root verifier cache
crates/build-guest/root_verifier.asm
releases/dev/verifier/root_verifier_vk

*.yml

*.sh

*.log
*.md

openvm-clippy

target
