/target

/.output

!/releases/dev/verifier/verifier.bin
!/releases/dev/verifier/verifier.sol
/releases

*.log

root_verifier.asm

root-verifier-vm-config
root-verifier-committed-exe
root_verifier_vk
verifier.bin

.vscode/
