[package]
name = "scroll-zkvm-integration"
version = "0.1.0"
edition = "2021"

[dependencies]
sbv.workspace = true
scroll-zkvm-prover.workspace = true

eyre = "0.6"
openvm-build = { git = "https://github.com/scroll-tech/openvm", branch = "scroll-dev-0116", default-features = false }
openvm-circuit = { git = "https://github.com/scroll-tech/openvm", branch = "scroll-dev-0116" }
openvm-sdk = { git = "https://github.com/scroll-tech/openvm", branch = "scroll-dev-0116", default-features = false }
openvm-transpiler = { git = "https://github.com/scroll-tech/openvm", branch = "scroll-dev-0116", default-features = false }
serde_json = "1.0"

[features]
scroll = ["sbv/scroll"]
