[package]
name = "scroll-zkvm-types-bundle"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
serde.workspace = true

types-base = { path = "../base", package = "scroll-zkvm-types-base"}
types-batch = { path = "../batch", package = "scroll-zkvm-types-batch" }

[features]
default = []
