[package]
name = "scroll-zkvm-types-batch"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
alloy-primitives = { workspace = true }
serde.workspace = true
itertools.workspace = true
vm-zstd = { workspace = true }

types-base = { path = "../base", package = "scroll-zkvm-types-base" }
openvm = { workspace = true, features = ["std"] }
openvm-algebra-guest = { workspace = true }
openvm-ecc-guest = { workspace = true, features = ["halo2curves"] }
openvm-pairing-guest = { workspace = true, features = ["halo2curves"] }
openvm-pairing = { workspace = true, features = ["bls12_381", "halo2curves"] }
openvm-sha2.workspace = true
halo2curves-axiom = "0.7.0"

sbv-primitives = { workspace = true, optional = true }
c-kzg = { workspace = true, optional = true }

bridge_core = { workspace = true }
bridge_adapters_zk = { workspace = true, features = ["verifier"] }
bridge_steps_da = { workspace = true, features = ["verifier"] }

[features]
default = []
host = ["dep:sbv-primitives", "dep:c-kzg"]

[dev-dependencies]
c-kzg = { workspace = true }
